<!DOCTYPE html>
{% extends 'budget/base.html'%}
{% block body_block %}
<body>
<h1>Log In</h1>
<form method="post" id="refrm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" class="btn btn-primary" onclick="save()">Login</button>

</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    function save(){
    $.ajax({
         type:"POST",
         url: "{% url 'login' %}",
         data: $('#refrm').serialize(),
         success: function (data) {

         if (data.status==200){
             console.log("data saved");
             swal("user successfully logged in")
             .then((value) => {
             window.location.href='userhome'

             });
         }
         else
         {
            swal("not saved","error");
         }
         }
         });
}

</script>
</body>
</html>
{% endblock %}
